@use "vars" as *;

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: $white;
  letter-spacing: 1px;
}

[class*="ant-card"] {
  // background-color: $background;
  border-radius: 5px !important;
  // color: white;
}

.anticon {
  font-size: 25px !important;
}

.ant-image-mask {
  background-color: rgba(0, 0, 0, 0) !important;
}

.ant-modal-content {
  background-color: $gray;
  border-color: $white;

  .anticon {
    font-size: 14px !important;
  }
}

.ant-typography {
  color: $white;
}

.gray-bg {
  background: $gray;
}
