@import "global";

/* Spacing */
$height: 100%;
$width: 98%;

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: $comments;
}

#layout {
  height: 95vh;
}

#content-container {
  background: $background url("../assets/catamaran.jpg") no-repeat;
  background-size: cover;
  border-radius: 3px;
  height: 95vh;
  width: 95vw;
  margin: 2vh 2vw;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-layout-content {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  width: 100%;

  #body {
    background-color: $body-background;
    color: white;
    margin: 0px;
    padding: 2em;
    width: 100%;
  }
}

#objectiveStmt {
  background: inherit;
  border-radius: 50px;
  width: $width;
}
