@use "vars" as *;
@use "global";

$navbar-height: 7vh;
$nav-item-height: calc(#{$navbar-height} - 1em);
$content-height: calc(100vh - #{$navbar-height}); // CSS func, neat!

/* -- Top level elements -- */
#layout {
  overflow-y: hidden;
}

#content {
  height: $content-height;
}

footer {
  line-height: $navbar-height;
  padding: 0px !important;
  text-align: center;
  background-color: $ali-light-gray;
  width: 100%;

  // repo link text
  span {
    color: $ali-light-gray !important;
  }
}

/* -- Everythinng else -- */

#body-container {
  background: $black url("../assets/background_v2.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
  border-radius: 0 0 3px 3px;
  height: 100%;

  margin: 0;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-layout-content {
  display: flex;
  flex-wrap: wrap;

  #body {
    @include custom-scroll-bar();
    background-color: rgba($ali-dark-gray, $bg-opacity);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 0px;
    padding: 0;
    width: 100%;
    height: 100%;

    // positioning mobile sidebar btn
    .ant-affix {
      position: fixed;
      left: 0;

      button {
        width: 60px;
      }
    }

    .title-view {
      background-color: rgba($red, $bg-opacity);
      color: $white;
      opacity: 1 important;
      margin: 0;
      text-align: center;
      padding: 0.5em 0px;
    }

    .view-divider {
      border-color: $white;
      border-width: 3px;
    }
  }
}

.ant-layout-sider {
  background-color: $ali-light-gray;
  height: $content-height;
}

.ant-layout-sider-children {
  @include custom-scroll-bar($ali-dark-gray);
}

.ant-spin {
  flex: 1, 1, auto;
  width: 100%;
  height: 100%;
}
.ant-spin-dot-item {
  background-color: $pink;
}

#objectiveStmt {
  background-color: $pink;
  width: 100%;
  align-self: flex-end;
  margin-top: 1em;

  * {
    color: $gray;
  }

  h3 {
    color: $red;
  }
}

.page {
  width: 100%;
  min-height: fit-content;
  flex-grow: 1;
}
