@use "vars" as *;

.ant-drawer-content-wrapper {
  width: 90% !important;
  max-width: 375px !important;
  background-color: $gray;
}

.ant-drawer-body {
  background-color: $gray;
  padding: 0px;

  // max-height: 100%; // scroll?
  overflow-y: scroll;
  @include custom-scroll-bar($gray, $background-transp);
}
