@import "global";

.ant-drawer-content-wrapper {
  width: 90%;
  background-color: $gray;
}

.ant-drawer-body {
  background-color: $gray;
  padding: 0px;
  overflow-y: scroll;
  @include custom-scroll-bar($gray, $background-transp);
}
