@use "vars" as *;

.ant-drawer-content-wrapper {
  width: 90% !important;
  max-width: 375px !important;
  background-color: $gray;
}

.ant-drawer-body {
  background-color: $ali-light-gray;
  padding: 0px;
  @include custom-scroll-bar($ali-dark-gray);
}
