@use 'vars' as *;

$navbar-height: 7vh;
$nav-item-height: calc(#{$navbar-height} - 1em);
$nav-line-height: calc(#{$nav-item-height} - 1em);

@mixin hideSymbol() {
  visibility: hidden !important;
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

/* -- Top-level Components -- */

header {
  display: flex;
  justify-content: center;
  background-color: rgba($black, $bg-opacity) !important;
}

.ant-layout-header {
  padding: 0;
  height: $navbar-height !important;

  nav {
    display: flex;
    justify-content: center !important;
    align-items: center;
    height: inherit;
  }
}

/* -- Nav Items -- */

.ant-steps {
  width: 100vw;
  align-items: flex-start;
  justify-content: center;
  padding-top: 0 !important;
  height: $nav-line-height;
}

.ant-steps-item {
  height: $nav-item-height;
  line-height: $nav-line-height;
  width: 30vw !important;
  max-width: 250px;

  padding-left: 0 !important;
  padding-top: 0px;
  margin: 0;
  z-index: 1;

  * {
    text-align: center;
    width: inherit;
    max-width: inherit;
    height: inherit !important;
  }

  a {
    font-size: 1.2em;
    line-height: $nav-item-height !important;
    color: $white !important;

    // animate on/off hover
    transition: font-size 200ms linear;

    &:hover {
      font-size: 1.5em;
      transition: 350ms;
    }
  }

  .ant-steps-item-container {
    text-align: inherit !important;
    margin: auto !important;
    max-width: inherit !important;
  }

  // hiding the step number
  .ant-steps-item-icon {
    @include hideSymbol();
  }

  // the lil highlight bar
  &:before {
    background-color: $white !important;
    height: 4px !important;
    border-radius: 4px;
    width: initial;
  }

  // hiding the '>' symbol
  &:after {
    @include hideSymbol();
    position: initial;
  }
}
