img {
  border-radius: 5px !important;
}

.project-deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;

  .project-card {
    max-width: 350px;
    margin: 1em;
  }

  .ant-typography-ellipsis {
    color: inherit;
  }
}

// masonry src: https://w3bits.com/flexbox-masonry/
// .masonry {
//   display: flex;
//   flex-flow: column wrap;
//   flex-basis: 40rem;
//   max-height: 800px;
//   margin-left: -8px; /* Adjustment for the gutter */
//   // width: 100%;

//   .project-card {
//     margin: 0 8px 8px 0; /* Some gutter */
//   }
// }
