@use 'vars' as *;

/* -- Top level elements */
.project-deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 2em;

  &:nth-of-type(odd) {
    @include alternating-colors($red, $white);
  }

  &:nth-of-type(even) {
    @include alternating-colors($pink, $red);
  }
}

.project-card {
  max-width: 350px;
  margin: 1em;

  .ant-card-body {
    padding: 0;
    height: 100%;
  }

  // icons
  path {
    color: $red;
  }
}

/* -- Sub elements */

.ant-collapse-header .ant-collapse-item .ant-collapse-content-box {
  padding-top: 0 !important;
}

.ant-card-head-title {
  color: $red;
  font-weight: bold;
  font-size: 20px;
}

.card-text {
  .ant-collapse-content-box {
    color: $black;
  }

  .ant-collapse-header {
    color: $ali-light-gray !important;
  }

  // changing arrow is annoying >:(
  span {
    font-size: 16px !important;
  }

  path {
    color: $red !important;
  }
}

.ant-image-img {
  border-radius: 2px 2px 5px 5px;

  // cropping
  object-fit: cover;
  object-position: 100% 15%;

  // removing white space under
  display: inline-block !important;
}
