@use 'vars' as *;

/* -- Top level elements */
.project-deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 2em;

  &:nth-of-type(odd) {
    background-color: rgba($red, $bg-opacity);
  }

  &:nth-of-type(even) {
    background-color: rgba($pink, $bg-opacity);
  }

  * {
    opacity: 1 !important;
  }
}

.project-card {
  background-color: $white;
  max-width: 350px;
  margin: 1em;
  // z-index: 1;

  * {
    background-color: $white;
  }

  .ant-card-actions {
    background-color: $white;
    border-color: $ali-light-gray;
    span {
      color: $black;
    }
  }

  color: $ali-light-gray !important;
}

/* -- Sub elements */

.ant-collapse-arrow {
  font-size: 14px !important;
  padding-top: 0 !important;
}

.ant-collapse-content-box {
  padding-top: 0 !important;
}

.ant-collapse-item {
  padding-top: 0 !important;
  * {
    padding-top: inherit !important;
  }
}

.ant-collapse-header {
  padding-top: 0 !important;

  span {
    font-size: 16px !important;
  }
}

img {
  border-radius: 5px !important;
}
