@import "global";

.ant-badge-count {
  background-color: $text-light !important;
}
// <Space /> uses flex-direction=column
#sidebar {
  display: flex;
  align-items: center;
  height: $height;
  overflow-y: scroll;
  @include custom-scroll-bar($gray, $background-transp);

  // for whatever reason, avatar doesn't want to center
  .ant-space-item {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  // tab headers don't automatically change color :')
  .ant-tabs-tab {
    background: $white-transp;
    text-align: center;
    color: $gray;
  }

  .ant-tabs-tab-active {
    background: $gray;
    border: 2px solid $white-transp;
    border-bottom: 0;
  }

  .ant-typography {
    color: $comments;
    text-align: center;
  }
}

#skillSnapshot {
  width: 98%;
}

#contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .ant-divider {
    border-color: $gray;
    border-width: 3px;
  }
}
