@use "vars" as *;

.ant-badge-count {
  // background-color: $text-light !important;
  @include background-section($red);
}

aside {
  background-color: $ali-light-gray;
}

// <Space /> uses flex-direction=column
#sidebar {
  display: flex;
  align-items: center;
  height: $height;
  // @include background-section($ali-light-gray);

  .ant-divider {
    border-top-width: 2px;
  }
  .anticon-check {
    font-size: 14px !important;
  }

  // for whatever reason, avatar doesn't want to center
  .ant-space-item {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  // tab headers don't automatically change color :')
  .ant-tabs-tab {
    // background: $white-transp;
    @include background-section($ali-dark-gray);
    text-align: center;
    color: $white;
  }

  .ant-tabs-tab-active {
    @include background-section($ali-light-gray);
    border: 2px solid $white;
    border-bottom: 0;
  }

  .ant-typography {
    color: $white;
    text-align: center;
  }

  .biomed-list {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    #genie-icon {
      height: 30vh;
    }
  }
  .skillList {
    line-height: 30px;
  }
}

#skillSnapshot {
  width: 98%;
}

#contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}
